---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="">
  <div class="lh-title">
    {# <p class="f3 fw6 ">L O I S shows you the processes and people behind the scenes. 
    <span class="fw4">We have dedicated profiles for each designer we collaborated with. You can watch films of them working on products, read their stories and get to know the people who make the things you buy.</span></p> #}
  {# <p class="">L O I S started out in 2013 as a small, independent bricks and mortar shop in Peckham selling a range of products made exclusively in the UK by independent designer-makers. From a desire to be more actively involved in the creative process behind the products we sold and the stories behind those products, we closed the Peckham shop and relaunched in 2015 as an online shop and creative resource.</p>
  <p class="">L O I S aims to show you the processes and people behind the scenes. We have dedicated profiles for each designer we collaborated with. You can watch films of them working on products, read their stories and get to know the people who make the things you buy.</p> #}
  </div>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}

{% for post in postslist | reverse %}
  <article class="db center mb4 o-90 glow">
    <h1 class="mb0 f3 f2-ns bb b--black bw2">
      <a href="{{ post.url | url }}" class="db link black">
        {{ post.data.title }}
      </a>
    </h1>
    {# <time class="f6 silver code" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> #}
        {% if post.data.mainImage %}
    <a href="{{ post.url | url }}" class="db link blue overflow-hidden h5-ns h4" >
      <img src="{{ post.url }}{{ post.data.mainImage }}" class="" style="transform: translateY(-50%)"/>
    </a>
    {% endif %}
  </article>
{% endfor %}

{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}

</div>