---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('makers');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout title={post.data.title} description={post.data.description}>
  <h1 class="mb0 f3 f2-ns bb b--black bw2">{ post.data.title }</h1>
  <Content />
  <p><a href="/">← Home</a></p>
</Layout>