<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/tachyons.min.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header class="tc" style="background:#F2B7B3;">
      <a class="db relative center bg-white" href="{{ '/' | url }}" style="width:92px; height:92px; bottom:-48px; border-radius:100%">
        <img src="{{ '/img/lois.svg' | url }}" alt="L O I S" />
      </a>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      {# <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul> #}
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="center mw7 ph2 lh-copy mv5 pt2 f4 avenir">
      {{ content | safe }}
      </div>
    </main>

    <footer class="tc mt6" style="background:#F2B7B3;">
      <a class="db relative center bg-white" href="{{ '/' | url }}" style="width:92px; height:92px; top:-48px; border-radius:100%">
        <img src="{{ '/img/lois.svg' | url }}" alt="L O I S" />
      </a>
    </footer>
  </body>
</html>
